Dan.Client.PerfMonReader/Dan.Client.EventLogReader/EventLogConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eventlogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="eventlog">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value= "5"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="description"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value= "5"/>
                    <xs:maxLength value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="eventlogname" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value= "5"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="source" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value= "5"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="machinename"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value= "5"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="level" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Information"/>
                    <xs:enumeration value="Warning"/>
                    <xs:enumeration value="Error"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="query">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value= "10"/>
                    <xs:maxLength value="200"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="schedule" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="daypattern" minOccurs="1" maxOccurs="1" >
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="7"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="start" type="xs:time" minOccurs="1" maxOccurs="1" />
                    <xs:element name="end" type="xs:time" minOccurs="1" maxOccurs="1"  />
                    <xs:element name="frequency" minOccurs="1" maxOccurs="1" >
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value ="S"/>
                          <xs:enumeration value ="M"/>
                          <xs:enumeration value ="H"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="every" type="xs:int" minOccurs="1" maxOccurs="1"  />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>