Dan.Client.PerfMonReader/Dan.Client.PerformanceMonReader/PerformanceConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="perfcounters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="perfcounter">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="3"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="category"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="3"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="countername"  minOccurs="1" maxOccurs="1" >
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
              <xs:element name="instance" type="xs:string"  minOccurs="1" maxOccurs="1"/>
              <xs:element name="schedule" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="daypattern" minOccurs="1" maxOccurs="1" >
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="7"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="start" type="xs:time" minOccurs="1" maxOccurs="1" />
                    <xs:element name="end" type="xs:time" minOccurs="1" maxOccurs="1"  />
                    <xs:element name="frequency" minOccurs="1" maxOccurs="1" >
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value ="S"/>
                          <xs:enumeration value ="M"/>
                          <xs:enumeration value ="H"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="every" type="xs:int" minOccurs="1" maxOccurs="1"  />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>